
.container {
  min-height: 100vh;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, #6bb9f0, #1e3c72);
  color: beige;
  font-family: 'Inter', sans-serif;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: black;
}

.datetime {
  margin-bottom: 0.5 rem;
  font-size: 1.5rem;
  font-weight: 500;
 
}

/* Search Box */
.searchBox {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin-bottom: 2rem;
}

.searchBox input {
  flex: 1;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
}

.searchBox input:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.searchBox button {
  padding: 0.75rem 1.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border: none;
  background-color: #0f4c81;
  color: white;
  font-weight: 600;
  cursor: pointer;
  
}

.searchBox button:hover {
  background-color: #08345f;
}

/* Loading & messages */
.loading,
.error,
.info {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.error {
  color: #ff6b6b;
}

.info {
  color: #ffeb99;
}

/* Weather Card */
.card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 2rem;
  margin-top: 0.5rem;
}

.card .temp {
  font-size: 3rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.card .description {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

/* Weather Icons */
.icon {
  height: 4rem;
  width: 4rem;
}

.icon.sun {
  color: #ffe066;
}

.icon.rain {
  color: #4ea8de;
}

.icon.cloud {
  color: #a6a6a6;
}
